<footer class="pt-5 d-flex justify-content-between">
    <span>Copyright © 2019-2020 Themesberg</span>
    <ul class="nav m-0">
        <li class="nav-item">
          <span class="nav-link text-secondary" aria-current="page" href="#">Privacy Policy</span>
        </li>
        <li class="nav-item">
          <span class="nav-link text-secondary" >Terms and conditions</span>
        </li>
        <li class="nav-item">
          <span class="nav-link text-secondary">Contact</span>
        </li>
      </ul>
</footer>