// .album.py-5.bg-body-tertiary{
//     margin: 48px;
// }

.container.overflow-hidden{
    margin: 120px auto;
}

a.btn.btn-accent.mt-4.d-flex.align-items-center.justify-content-center.gap-2 {
    background: #fcd34d;
}

a.btn.btn-accent.mt-4.d-flex.align-items-center.justify-content-center.gap-2:hover {
    opacity: 0.8;
}