<div class="d-flex align-items-center overflow-hidden text-center bg-body-tertiary b-gr-banner">
  <div class=" col-md-9 p-lg-5 mx-auto my-5">
    <h2 class="fw-bold">FACTORY OF DREAMS</h2>
    <h3 class="font-16px mb-3">Where stories are woven, by the hands of Vietnamese people. 
      In this workshop, we are always working hard day and night, to realize the dream of bringing Vietnamese 
      products to all over the world, for the world to admire the rich heritage of the nation. And finally, 
      to realize the goal from the beginning: "Creating the best products that Vietnamese people can make, 
      for Vietnamese people to use, and proudly talk about it".</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
      <a class="icon-link" href="#">
        Learn more
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>