.edit-container{
    margin-top: 5%;
}

input#category{
    padding: 8px 12px;
    border-radius: 10px;
    opacity: 0.8;
    text-transform: uppercase;
}

.btn-add-product{
    padding: 8px 12px;
    margin-left: 12px;
    margin-bottom: 12px;
    border: none;
    background: darkcyan;
    border-radius: 8px;
    color: #fff;
}