header.p-3.bg-dark.text-white {
    background: #000 !important;
    opacity: 0.85;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
}
a.gradient-text.nav-link.px-2:hover{
    opacity: 0.6;
}