<section id="home-shop-map">
    <div class="overlay">
        <div class="shop-info text-center">
            <span>Tìm cửa hàng gần bạn nhất</span>
            <a href="/pages/lien-he" class="btn-more-white">Hệ thống cửa hàng</a>
        </div>
    </div>
</section>
<div class="footer">
    <i class="icon-footer bi bi-facebook"></i>
    <i class="icon-footer bi bi-instagram"></i>
    <i class="icon-footer bi bi-github"></i>
    <i class="icon-footer bi bi-linkedin"></i>
    <div class ="power">Powered by w3.cs</div>
</div>
